@import "animation";

.VueHotToast {
  &__toast-container {
    font-family: Helvetica, sans-serif;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    overflow: visible;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    gap: 12px;
    pointer-events: none;
  }

  &__toast {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: #101010;
    box-shadow: 0px 2px 2px 0px #10182822;
    min-width: 200px;
    max-width: 1200px;
    padding: 14px 8px;
    border-radius: 8px;
    cursor: pointer;
    pointer-events: auto;
    text-overflow: ellipsis;
  }
  
  &__icon {
    margin-right: 12px;
  }
}

